@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50; /* Light grey background */
}

@layer utilities {
  .animate-scan {
    animation: scan 2s linear infinite;
  }
}

@keyframes scan {
  0% { top: 0%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

/* Hide scrollbar for cleaner UI */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}